<!DOCTYPE html>
<html>
    <head>
        <title>Orders</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha384-p7RDedFtQzvcp0/3247fDud39nqze/MUmahi6MOWjyr3WKWaMOyqhXuCT1sM9Q+l" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <style>
            
        </style>
    </head>
    <body>
        <header class="d-flex flex-column flex-md-row sticky-top align-items-center px-md-4 mb-3 bg-body border-bottom shadow-sm">
            <ul class="nav nav-tabs card-header-tabs col-md-10 text-center d-flex justify-content-center" style="margin-left:auto;margin-right:auto;">
                
                <li class="nav-item">
                    <a class="nav-link h1 " href="/Home">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link h1 " href="/Clients">Clients</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link h1 " href="/Products">Products</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link h1 " href="/secretPage">secretPage</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link h1 active" href="/Orders">Orders</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link h1 " href="/jsonDisplay">jsonDisplay</a>
                </li>
                
            </ul>
            <div class="col-md-2"><a href="/logout" class="btn btn-danger btn-sm float-end">Log Out</a></div>
        </header>
        <main>
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover h-100">
    <thead class="tableFixHead bg-body">
        <tr>
            
            
            <th scope="col">name</th>
            
            
            
            <th scope="col">Products</th>
            
            
            <th scope="col" style="width:10%;">
                
                <a href="/new/order" class="btn btn-success" style="width:100%;">New order</a>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {%for item in orderRows%}
            <tr name="row">
                
                    
                    <td name="name">{{item[1]}}</td>
                    
                
                    
                        <table class="table table-hover h-100">
    <thead class="tableFixHead bg-body">
        <tr>
            
            
            <th scope="col">name</th>
            
            
            
            <th scope="col">count</th>
            
            
            
            
            <th scope="col" style="width:10%;">
                
                <a href="/new/Products" class="btn btn-success" style="width:100%;">New Products</a>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {%for item in ProductsRows%}
            <tr name="row">
                
                    
                    <td name="name">{{item[1]}}</td>
                    
                
                    
                    <td name="count">{{item[2]}}</td>
                    
                
                    
                        <table class="table table-hover h-100">
    <thead class="tableFixHead bg-body">
        <tr>
            
            <th scope="col" style="width:10%;">
                
                <a href="/new/rowid" class="btn btn-success" style="width:100%;">New rowid</a>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {%for item in rowidRows%}
            <tr name="row">
                
                <td><a href="/edit/rowid/{{item[0]}}" class="btn btn-warning" style="width:100%;">Edit</a> <form action="/copy/{{item[0]}}" method="post"><button type="submit" class="btn btn-info" style="width:100%;">Copy</button></form>
                    
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
                    
                
                <td><a href="/edit/Products/{{item[0]}}" class="btn btn-warning" style="width:100%;">Edit</a> <form action="/copy/{{item[0]}}" method="post"><button type="submit" class="btn btn-info" style="width:100%;">Copy</button></form>
                    
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
                    
                
                <td><a href="/edit/order/{{item[0]}}" class="btn btn-warning" style="width:100%;">Edit</a> <form action="/copy/{{item[0]}}" method="post"><button type="submit" class="btn btn-info" style="width:100%;">Copy</button></form>
                    
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
                </div>
              </div>
        </main>
        <footer>
            
        </footer>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);    
        });
    
        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
        function filtr(filtr, type){
            var cells = document.getElementsByName(type)
            cells.forEach(element => {
                if(element.innerHTML.toLowerCase().includes(filtr.toLowerCase())){
                    element.parentElement.className = ""
                }
                else{
                    element.parentElement.className = "d-none"
                }
            });
        }
    </script>
</html>