<table class="table table-hover">
    <thead class="tableFixHead bg-body">
        <tr>
            {%for field in data.fields%}
            {%if (isField(field) and not field.hidden) or not isField(field)%}
            <th scope="col">{%if field.filtrable%}<input type="text" class="form-control" placeholder="Filter" onchange="filtr(this.value, '{{field.name}}');">{%endif%}{{field.displayName}}</th>
            {%endif%}
            {%endfor%}
            {%if showBtn%}
            <th scope="col" style="width:10%;">
                {%if not data.isChild%}
                <a href="/new/{{data.name}}" class="btn btn-success" style="width:100%;">New {{data.name}}</a>
                {%endif%}
            </th>
            {%endif%}
        </tr>
    </thead>
    <tbody>
        {{'{%for item in ' + data.name + 'Rows%}'}}
        {{'{%set ' + data.name + 'row = item[0]%}'}}
        {%if data.primary.referencedTable is defined%}
        {{'{%if ' + data.primary.referencedTable.name +'row == item[' + (getIndexWhereName(data.primary.name, data.fields))|string + ']%}'}}
        {%endif%}
            <tr name="row">
                {%for thisField in data.fields%}
                    {%if isField(thisField)%}
                    {%if not thisField.hidden%}
                    <td name="{{thisField.name}}">{{'{{item[' + loop.index|string + ']}}' + thisField.unit}}</td>
                    {%endif%}
                    {%else%}
                        <td name="{{thisField.name}}">{{renderTable(thisField, False)}}</td>
                    {%endif%}
                {%endfor%}
                {%if showBtn%}
                <td>
                    <a href="/edit/{{data.name}}/{{'{{item[0]}}'}}" class="btn btn-warning" style="width:100%;">Edit</a> 
                    {%if data.copiable%}
                    <form action="/copy/{{data.name}}/{{'{{item[0]}}'}}" method="post"><button type="submit" class="btn btn-info" style="width:100%;">Copy</button></form>
                    {%endif%}
                    {%for child in data.children%}
                        {%if child.parentName == 'rowid'%}
                        <a href="/new/{{child.name}}/{{'{{item[0]}}'}}" class="btn btn-success" style="width:100%;">New {{child.name}}</a>
                        {%else%}
                        <a href="/new/{{child.name}}/{{'{{item[' + getIndexWhereName(child.parentName, data.fields)|string + ']}}'}}" class="btn btn-success" style="width:100%;">New {{child.name}}</a>
                        {%endif%}
                    {%endfor%}
                </td>
                {%endif%}
            </tr>
        {%if data.primary.referencedTable is defined%}
        {{'{%endif%}'}}
        {%endif%}
        {{'{%endfor%}'}}
    </tbody>
</table>